/* global layout */

body {
  font-family:
    'Yu Gothic', 'Source Han Sans JP', 'Noto Sans', 'Helvetica Neue', sans-serif;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  box-sizing: border-box;
  width: 100%;
  height: 1.6rem;
  margin: 0 auto;
  max-width: 800px;
  background-color: #000;
  padding: 0.4rem;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1;
}

header a {
  color: #fff;
  text-decoration: none;
}

header ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

header ul li {
  display: block;
  margin: 0;
  padding: 0;
}

header ul li span {
  display: none;
}

main {
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
}

h1 {
  margin: 1.2rem 0;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0;
}

h2 {
  margin: 1.5rem 0 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
}

p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

details {
  margin: 0.5rem 0;
}

/* global styles */

input[type='text'],
input[type='email'],
input[type='password'] {
  box-sizing: border-box;
  padding: 0.2rem 0.5rem;
  margin: 0;
  border: thin solid #000;
  font-size: 0.8rem;
  background-color: #fff;
  white-space: nowrap;
}

textarea {
  box-sizing: border-box;
  padding: 0.2rem 0.5rem;
  margin: 0;
  border: thin solid #000;
  font-size: 0.8rem;
  background-color: #fff;
  white-space: pre;
}

button,
input[type='submit'],
select {
  box-sizing: border-box;
  padding: 0.2rem 0.5rem;
  margin: 0;
  border: thin solid #000;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  background-color: #fff;
  white-space: nowrap;
}

button:hover,
input[type='submit']:hover,
summary:hover {
  background-color: #eee;
}

button:disabled:hover,
input[type='submit']:disabled:hover {
  background-color: #fff;
}

button:active,
input[type='submit']:active {
  background-color: #bbb;
}

label:not([for]) {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

label > span {
  white-space: nowrap;
}

/* common classes */

.notice {
  border: thin solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #ffc;
}

.error {
  color: #f00;
  font-weight: bold;
}

.package-name {
  font-weight: bold;
}

.package-desc {
  font-size: small;
}

button.previous-page::before {
  content: '« ';
}

button.next-page::after {
  content: ' »';
}

/* spinner */

@keyframes loading-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-large {
  box-sizing: border-box;
  width: 1rem;
  min-width: 1rem;
  max-width: 1rem;
  height: 1rem;
  min-height: 1rem;
  max-height: 1rem;
  padding: 0;
  margin: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow:
    2rem 0rem #000,
    1.41rem -1.41rem #666,
    0rem -2rem #888,
    -1.41rem -1.41rem #aaa,
    -2rem 0rem #bbb,
    -1.41rem 1.41rem #ccc,
    0rem 2rem #ddd,
    1.41rem 1.41rem #eee;
  animation: loading-spinner-rotate 1s steps(8) 0s infinite;
  display: inline-block;
}

.loading-spinner-small {
  box-sizing: border-box;
  width: 0.25rem;
  min-width: 0.25rem;
  max-width: 0.25rem;
  height: 0.25rem;
  min-height: 0.25rem;
  max-height: 0.25rem;
  padding: 0;
  margin: 0.5rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow:
    0.5rem 0rem #000,
    0.35rem -0.35rem #666,
    0rem -0.5rem #888,
    -0.35rem -0.35rem #aaa,
    -0.5rem 0rem #bbb,
    -0.35rem 0.35rem #ccc,
    0rem 0.5rem #ddd,
    0.35rem 0.35rem #eee;
  animation: loading-spinner-rotate 1s steps(8) 0s infinite;
  display: inline-block;
}

.loading {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

/* Login */

.login {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  border: thin solid #000;
}

.login form div {
  display: flex;
  justify-content: center;
}

.login form label {
  flex: 1;
  justify-content: space-between;
  gap: 1rem;
}

.login form input[type='text'],
.login form input[type='password'] {
  width: 15rem;
}

/* CiBadge */

.ci-badge-pass,
.ci-badge-none {
  width: 5rem;
  font-size: 0.7rem;
}

.ci-badge-fail {
  width: 5rem;
  font-weight: bold;
  font-size: 0.7rem;
  color: #c33;
  border-color: #c33;
}

.ci-badge-running {
  width: 5rem;
  font-weight: bold;
  font-size: 0.7rem;
  color: #292;
  border-color: #292;
}

.ci-badge-waiting {
  width: 5rem;
  font-weight: bold;
  font-size: 0.7rem;
  color: #229;
  border-color: #229;
}

/* FlavorList */

.flavor-list > ul {
  display: flex;
  margin: 0.5rem 0;
  padding: 0;
  flex-direction: column;
}

.flavor-list > ul > li {
  display: block;
  margin: 0.3rem 0;
}

.flavor-list > ul > li > a {
  display: flex;
  position: relative;
  border: thin solid #000;
  padding: 0.4rem;
  border-radius: 0.4rem;
  flex-direction: column;
  text-decoration: none;
  color: #000;
}

.flavor-list > ul > li > a:hover {
  background-color: #eee;
}

.flavor-list > ul > li > a:active {
  background-color: #bbb;
}

.flavor-list > ul > li > a > .ci-badge {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
}

.flavor-list-flavor-id {
  font-size: 0.8rem;
}

.flavor-list-flavor-id,
.flavor-list-flavor-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flavor-list-flavor-unavailable .flavor-list-flavor-id {
  text-decoration: line-through;
}

/* ModalOverlay */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal-overlay-box-outer {
  width: 100%;
  max-width: 720px;
  background-color: #fff;
  height: 70vh;
  margin: 15vh 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

.modal-overlay-box-outer > h2 {
  margin: 0;
}

.modal-overlay-box-inner {
  flex: 1;
  overflow: scroll;
  padding: 0.2rem;
  border: thin solid #000;
  margin: 0;
}

.modal-overlay-buttons {
  display: flex;
  justify-content: center;
}

/* FlavorLog */

.flavor-log {
  margin: 0;
}

/* NewFlavor */

.new-flavor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.3rem;
}

.new-flavor label span {
  width: 10rem;
}

.new-flavor label input,
.new-flavor label select {
  width: 30rem;
}

/* Flavor */

.flavor-detail {
  display: block;
}

.flavor-detail p input[type='text'],
.flavor-detail p input[type='email'] {
  width: 100%;
}

.flavor-detail textarea {
  width: 100%;
  min-height: 5em;
}

.flavor-detail details form {
  border: thin dashed #000;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 1rem 0;
}

.flavor-detail .update-flavor-button {
  text-align: center;
  margin: 3rem 0;
}

.flavor-detail .update-flavor-button button {
  display: block;
  width: 100%;
  padding: 0.5rem;
}

/* WeekDayList */

.days-of-week ul {
  display: flex;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.days-of-week ul li {
  display: block;
  margin: 0;
  padding: 0;
}

/* PackageList */

.package-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.package-list > ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
}

.package-list > ul > li {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.package-list > ul > li > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.package-list > ul > li > button {
  margin-right: 0.8rem;
}

.package-list-capacity-estimation {
  font-size: 0.8rem;
}

.package-list-add-package {
  display: flex;
  gap: 0.5rem;
}

.package-list-add-package > .select-package {
  flex: 1;
}

/* SelectPackage */

.select-package {
  position: relative;
}

.select-package > input[type='text'] {
  width: 100%;
}

.select-package-suggest {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  box-sizing: border-box;
  border: solid thin #000;
}

.select-package-suggest-header {
  margin: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.select-package-suggest-header > div {
  display: flex;
  gap: 0.2rem;
}

.select-package-suggest > ul {
  margin: 0;
  padding: 0;
  height: 16rem;
  overflow: scroll;
}

.select-package-suggest > ul > li {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0.2rem 0.4rem;
}

.select-package-suggest > ul > li.selected {
  background-color: #ccc;
}

/* FileList */

.file-list table {
  display: block;
}

.file-list thead {
  display: none;
}

.file-list tbody {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
}

.file-list tr {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.file-list td {
  display: block;
  margin: 0;
  padding: 0;
}

.file-list tbody > tr > td:not(:first-child) {
  font-family: monospace;
}

.file-list tr button {
  margin-right: 0.3rem;
}

.file-list form label span {
  min-width: 5rem;
}

.file-list form input[type='text'] {
  width: 100%;
}

/* UserList */

.user-list table {
  border-collapse: collapse;
}

.user-list thead {
  display: none;
}

.user-list tr {
  margin: 0;
  padding: 0;
}

.user-list td {
  margin: 0;
  padding: 0 0.2rem 0.2rem 0;
  white-space: nowrap;
}

.user-list tbody > tr > td:nth-child(1),
.user-list tbody > tr > td:nth-child(2) {
  width: 1px;
}

.user-list details form label span {
  min-width: 5rem;
}

/* LoginLog */

.login-log {
  border-collapse: collapse;
  width: 100%;
}

.login-log th,
.login-log td {
  border: thin solid #000;
  padding: 0.2rem;
  text-align: center;
}

.login-log .login-log-unspecified {
  background-color: #eee;
}
